[Unit]
Description=Log gpsd
After=gpsd.service
# StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=ramge
ExecStart=/home/ramge/gh/gpsdLog/gpsdLog.sh 600

[Install]
WantedBy=multi-user.target
